.page__label-info {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  color: #000000;
  background: #25E197;
  padding: 4px 8px;
  border-radius: 4px;
}
