.page__logo {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 30px;
  color: #FFFFFF;
  padding-right: 20px;
}

@media screen and (max-width: 767px) {
  .page__logo {
    font-size: 20px;
    line-height: 28px;
  }
}
