.header__title {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 112px;
  line-height: 112px;
  color: #FFFFFF;
  padding-top: 60px;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin: 0;
}

@media screen and (max-width: 1024px) {
  .header__title {
    font-size: 70px;
    line-height: 90px;
  }
}

@media screen and (max-width: 767px) {
  .header__title {
    font-size: 50px;
    line-height: 60px;
  }
}
