.form__page-button-submit {
  background: #47474C;
  border-radius: 0px 8px 8px 0px;
  box-sizing: border-box;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.375px;
  color: #FFFFFF;
  height: 50px;
  cursor: pointer;
  padding: 13px 14px 13px 16px;
  border: 0;
}
